.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(243, 233, 221);
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}